<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestion de Prestamos2022</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <RadzenPanelMenu class="rz-shadow-3">
            <RadzenPanelMenuItem Text="Registros" Icon="attach_money">
                <RadzenPanelMenuItem Text="Ocupacion" Path="ocupacion" Icon="attach_money" />
                <RadzenPanelMenuItem Text="Persona" Path="persona" Icon="person" />
                <RadzenPanelMenuItem Text="Prestamo" Path="prestamo" Icon="request_quote" />
                <RadzenPanelMenuItem Text="Pago" Path="Pagos" Icon="price_change" />
            </RadzenPanelMenuItem>

            <RadzenPanelMenuItem Text="Consultas" Icon="list">
                <RadzenPanelMenuItem Text="Ocupaciones" Path="ocupaciones" Icon="attach_money" />
                <RadzenPanelMenuItem Text="Personas" Path="personas" Icon="person" />
                <RadzenPanelMenuItem Text="Prestamos" Path="prestamos" Icon="request_quote" />
                <RadzenPanelMenuItem Text="Pagos" Path="pago" Icon="price_change" />
                <RadzenPanelMenuItem Text="Estado de Prestamos" Path="EstadoPrestamos" Icon="line_style" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
