<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestion de Prestamos2022</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ocupacion">
                <span class="oi oi-monitor" aria-hidden="true"></span> R_cupaciones1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ocupaciones">
                <span class="oi oi-document" aria-hidden="true"></span> C_Ocupaciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="persona">
                <span class="oi oi-person" aria-hidden="true"></span> R_Personas2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personas">
                <span class="oi oi-briefcase" aria-hidden="true"></span> C_Personas2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prestamo">
                <span class="oi oi-check" aria-hidden="true"></span> R_Prestamos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prestamos">
                <span class="oi oi-people" aria-hidden="true"></span> C_Prestamos2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Pagos">
                <span class="oi oi-dollar" aria-hidden="true"></span> R_Pagos
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="pago">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> C_Pagos
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
